/* RESET */
body {
  margin: 0;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
}

/* DESKTOP */
#desktop {
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

/* DESKTOP ICONS */
.icon {
  width: 90px;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.icon img {
  width: 48px;
  height: 48px;
}

.icon span {
  display: block;
  margin-top: 6px;
  font-size: 13px;
  text-shadow: 1px 1px 3px black;
}

.icon.second {
  top: 120px;
}

.icon.third {
  top: 220px;
}

/* WINDOW */
.window {
  width: 380px;
  height: 260px;
  background: #fff;
  color: #000;
  position: absolute;
  top: 140px;
  left: 180px;
  border-radius: 6px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
  z-index: 1000;
}

.hidden {
  display: none;
}

.title-bar {
  background: #f1f1f1;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.title-bar button {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

.content {
  padding: 15px;
}

/* TASKBAR */
#taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  background: rgba(219, 215, 215, 0.728);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  z-index: 5000;
}

/* LEFT */
.task-left {
  display: flex;
  align-items: center;
}

/* CENTER */
.task-center {
  display: flex;
  align-items: center;
  gap: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* RIGHT */
.task-right {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 13px;
}

/* ICONS */
.task-icon {
  width: 38px;
  height: 38px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.task-icon img {
  width: 22px;
  height: 22px;
}

.task-icon:hover {
  background: rgba(255, 255, 255, 0.15);
}


/* START MENU */
#start-menu {
  position: fixed;
  bottom: 60px;
  left: 20px;
  width: 420px;
  height: 520px;
  background: #f3f3f3;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
  padding: 20px;
  z-index: 2000;
  color: black;
}

#start-menu input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

#start-menu .apps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

#start-menu .app {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

#start-menu .app:hover {
  background: #e6e6e6;
}

/* RIGHT CLICK MENU */
#context-menu {
  position: absolute;
  background: white;
  color: black;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  width: 160px;
  border: 1px solid #aaa;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 3000;
}

#context-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

#context-menu li:hover {
  background: #0078d7;
  color: white;
}
